a:hover {
  text-decoration: none !important;
}
.progress {
  width: 100%;
  z-index: 2;
  height: 0.75em;
  border-radius: 0;
}
.signatureCanvas {
  width: 100%;
  height: 200px;
  border: 1px solid #222;
}
.initialCanvas {
  width: 150px;
  height: 150px;
}
.signature-block img {
  border: none !important;
}
.site-title {
  font-size: 18px;
}
.contract-wrapper {
  padding: 0 !important;
}
.alert-bar {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 9;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.success {
  position: absolute;
  top: 10px; right: 10px;
}
.agent-table {
  height: 500px;
  overflow-y: scroll;
}
.table td, .table th {
  padding: .5rem;
}



/*Side Bar Menu*/
#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15.5rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper #sidebar-wrapper {
  margin-left: -15.5rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper #sidebar-wrapper {
    margin-left: -15.5rem;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
}

select.form-control {
    padding: .375rem 1.2rem !important;
    border: 1px solid #999;
    height: 48px !important;
}

.multi-select-control__control {
  min-height: 48px !important;
  border: 1px solid #999 !important;
  color: #495057 !important
}

.form-control input {
    padding: .375rem 1.2rem !important;
    height: 48px !important;
    border-radius:  .25rem;
    color: #666
}
